.validation-form {
  display: flex;
  flex-direction: column;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.label-form {
  margin: 10px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.errors-msg {
  color: #f00;
}

.button-form {
  width: 200px;
  margin: 10px 50px;
}

.status-form {
  color: rgb(70, 113, 35);
  font-weight: bold;
}